.home {
    font-family: 'Poppins', sans-serif;
    background-color: #fffafc;
    text-align: center;
  }
  
  .intro-text {
    padding: 60px 20px;
    font-size: 1.2rem;
    color: #444;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
  